{% import "macros" as macros %} {% extends "base" %} {% block content %}
<hgroup>
    <h2>Project Details</h2>
</hgroup>
<article>
    <header>
        <h2>{{ project.name }}</h2>
        {% if not tasks %}
        <p>
            <a href="/project/{{ project.id }}/add-task">➕ Add a new task</a>
        </p>
        {% endif %}
    </header>
    <b>id:</b> {{ project.id }}<br />
    <b>start:</b> {{ project.proj_start_date | date(format="%v %X") }}<br />
    <b>end:</b>
    {% if project.proj_end_date %}
    {{ project.proj_end_date }}
    {% endif %}
    <br />
    <b>owner:</b> {{ project.owner }} ({{ user.email }}, {{ user.name }})<br />
    <b>participants:</b> {% if project.participants %}
    <ul>
        {% for participant in project.participants %}
        <li>{{ participant }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <footer>
        <a href="/edit/project/{{ project.id }}">🔨 Edit Project</a>
        <a href="/delete/project/{{ project.id }}">❌ Delete Project</a>
    </footer>
</article>
{% if tasks %}
<article>
    <header>
        <h2>Tasks</h2>
        <p>
            <a href="/project/{{ project.id }}/add-task">➕ Add a new task</a>
        </p>
    </header>
    {% for task in tasks %}
    <p>
        <b>{{ task.description }}</b>
        <a href="/delete/project/{{ project.id }}/task/{{ task.id }}"
            >❌ Delete Task</a
        >

        {% if not task.task_end_date %}
        <a href="/complete/project/{{ project.id }}/task/{{ task.id }}"
            >✔ Complete Task</a
        >
        {% endif %} {% if task.time_delta %} ⌛
        {{ macros::format_duration(seconds=task.time_delta) }}
        {% endif %}<br />

        <b>task.id:</b>
        {{ task.id }}<br />
        <b>task.task_start_dated:</b>
        {{ task.task_start_date | date(format="%v %X") }}<br />
        <b>task.task_end_date:</b>
        {% if task.task_end_date %}
        {{ task.task_end_date | date(format="%v %X") }}
        {% endif %}<br />
        <b>task.owner_proj:</b>
        {{ task.owner_proj }} ({{ project.name }})<br />
        <b>task.time_delta:</b>
        {{ task.time_delta }} (seconds)
    </p>
    {% endfor %}
</article>
{% endif %} {% endblock %}
